* {
    font-family: Arial;
    box-sizing: border-box;
}


#logo {
    width: 98%;
    height: 98%;
}
.logowrapper {
    grid-area: logo;
    position: relative;
}
.logowrapper::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(../asset/foxplayer_trans2.png) center/100% 100% no-repeat;
}

.albumart {
    background: url(../asset/music-placeholder.png) center/100% 100% no-repeat;
}

.playlist_control {
    font-weight: 900;
    font-size: 1.3rem;
    color: grey;
}
.add_playlist {
    font-size: 2rem;
}

.track_control {
    color: grey;
}
.add_to_favorites {
    width: 1.4em;
    height: 1.4em;
    background: url(../asset/star.svg) center/80% 80% no-repeat;
}
.add_to_playlist {
    font-size: 2rem;
}

.playlists,
.tracks {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(122,130,132,1) 100%);
}

article {
    background: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    color: grey;
    margin: 0.2em;
    cursor: pointer;
}
article:nth-of-type(2n) {
    background: #eee;
}
article:hover {
    background: lime;
}
article.selected {
    background: green;
    color: #eee;
}
.playlists article h3 {
    padding: 0.5em 1em;
    margin: 0;
}
.playlists article div {
    padding-right: 1em;
    font-weight: 900;
}

.tracks article {
    padding: 0.3em 0;
}
.tracks article section {
    display: flex;
}
.tracks h4 {
    margin: 0;
    padding: 0 1em;
}
.tracks h3 {
    margin: 0;
}

.track_control h1 {
    font-size: 1.2rem;
}
.track_control h2 {
    font-size: 1rem;
}
