article {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.4em;
    align-items: flex-start;
    justify-content: flex-end;
    background: #eee;
    padding: 0.5em 1em;
}

h2 {
    padding: 0;
    margin: 0;
}

h2 span {
    font-size: 0.65em;
    font-weight: 400;
}

p {
    padding: 0;
    margin: 0;
}

nav {
    padding: 0;
    margin: 0;
}

article > nav {
    margin: 0.5em 1em;
}
article > nav .vote_clickable {
    cursor: pointer;
}

section nav a:first-child {
    margin-right: 1em;
}
section nav a {
    color: lightgrey;
}
section nav .modify_clickable {
    color: darkblue;
    cursor: pointer;
}
section nav .remove_clickable {
    color: darkblue;
    cursor: pointer;
}

button {
    align-self: flex-start;
}
button[type="button"] {
    font-size: 1em;
}
label span {
    color: orange;
}