
main {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: #232323;
    grid-gap: 15px;
}
div {
    background-color: rgb(167, 0, 218);
}

.main {
    background-color: lime;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: yellow;
    width: 75%;
    height: 60%;
}