body {
    background-image: radial-gradient(#232323, gainsboro);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    width: 761px;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: stretch;
    background-color: rgba(200,200,200,0.5);
    box-shadow: 5px 10px 8px #232323;
}

.arrow {
    width: 25px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-shrink: 0;
}
.arrow:hover {
    background-color: #404040;
    cursor: pointer;
}
.arrow:hover p{
    color: gainsboro;
}
.arrow p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.mainimg {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.mainimg img {
    width: 100%;
    height: 100%;
}
.mainimg header {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(23,23,23,0.75);
    color: white;
    padding: 0 1em;
}

.imgbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75vw;
    margin: 2vh auto;
    overflow: auto;
    min-height: 8vw;
}
.imgbar img {
    width: 5vw;
    height: 5vw;
    margin: 0 5px 25px 5px;
    flex-shrink: 0;
    box-shadow: 5px 5px 4px #232323;
    box-sizing: border-box;
    cursor: pointer;
}
.imgbar img:hover {
    border: 7px solid gainsboro;
}
.imgbar img.selected{
    border: 5px solid gainsboro;
}

.imgbar .img_wrapper {
    position: relative;
    padding-top: 2em;
    z-index: 100;
}

.imgbar .img_wrapper.selected::before {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid gainsboro;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
}
.imgbar .img_wrapper.selected:hover::after {
    content: "";
    border: 0;
}

.imgbar .img_wrapper.unselected:hover::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgba(23,23,23,.75);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
}
.imgbar .img_wrapper.unselected:hover::before {
    content: attr(data-pic);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -36px);
    padding: 4px;
    color: white;
    background-color: rgba(23,23,23,.75);
}
